<h2>Opciones</h2>
<hr>

<ul class="list-group">

  <li routerLink="home" class="list-group-item" routerLinkActive="active">
    <i class="fa-solid fa-house"></i> Home
  </li>

  <li routerLink="git/git-search" class="list-group-item" routerLinkActive="active">
    <i class="fa-solid fa-magnifying-glass"></i> Busqueda Search GIT
  </li>

  <li routerLink="git/git" class="list-group-item" routerLinkActive="active">
    <i class="fa-solid fa-magnifying-glass"></i> Busqueda GIT
  </li>

  <li routerLink="about" class="list-group-item" routerLinkActive="active">
    <i class="fa-solid fa-circle-info"></i> About
  </li>

  <li routerLink="contact" class="list-group-item" routerLinkActive="active">
    <i class="fa-solid fa-user"></i> Contact
  </li>

</ul>
